.content-wrapper {
    background-color: #f2f2f2;
    padding: 42px;
    border-radius: 4px;
    margin-top: -22px;
}

.black-label {
    background-color: black;
    margin: 5px;
    border-radius: 100px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.bold-text {
    color: $clearBlue;
}